{% import 'macros/macros.html.twig' as macros %}

<a href="https://www.helloasso.com/associations/entropies/boutiques/serres-1">Shop</a>

{# <ul {{ tree ? 'class="tree"' : '' }}>
    {{ macros.nav_loop(pages) }}
</ul>
 #}
 